.main-content {
    flex: 1 0 0;
    height: 100vh;

    &__heading {
        text-align: left;
        color: var(--primary-color);
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 2em;
        display: none;
    }

    &__projects {
        margin-bottom: 4em;
    }

    &__talks {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 0.5rem;
    }

    &__interviews {
        margin-top: 2em;
    }
}