@import "../1-helpers/_variables.scss";
@import "../1-helpers/_mixins.scss";

html, body {
    background-color: $main-clr;
}

div h1 {
    width: min-content;
    font-size: 8vmin;
    font-weight: $weight-3;
    font-family: $main-font;
    margin: 0.2em 0;

    @include desktop() {
        font-size: 14vmin;
    }
}