@import "../1-helpers/_variables.scss";

body, html {
    background-color: $black;
}

h6 span {
    font-size: 1em;
    letter-spacing: .25em;
    font-family: $playfair;
}

li {
    
}

a {
    color: $main-links;
    text-decoration: none;

    &:hover {
        color: $white;
    }
}
