.project {
    margin-bottom: 0.5em;
    display: block;
    padding: 1.75em;
    color: inherit;
    background-color: var(--component-bg-color);
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.15);
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__technologies {
        margin: 0;
        font-size: var(--component-sub-heading);
        color: var(--primary-color);
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    &__title {
        margin-top: 0.25em;
        margin-bottom: 0;
        color: var(--primary-color);
        text-transform: capitalize;
        font-size: var(--component-heading);
        font-weight: var(--font-semi-bold);
    }

    &__description {
        color: var(--component-text-color);
        font-size: var(--component-body-text);
        margin: 1em 0 1em 0;
    }

    &__github-stars {
        margin: 0;
        font-size: 12px;
        color: var(--component-text-color);

        display: flex;
        align-items: center;
    }
    
    &__star {
        width: 14px;
        margin-right: 0.75em;
    }
}