.talk {
    height: 20rem;
    padding: 1.75em;
    color: inherit;
    background-color: var(--component-bg-color);

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: var(--primary-color);
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    &__host {
        margin: 0;
        font-size: var(--component-sub-heading);
        color: var(--primary-color);
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &__location, 
    &__date {
        color: var(--component-text-color);
        font-size: var(--component-body-text);
        margin: 0;
    }

    &__location {
        margin-top: 1em;
        margin-bottom: 0.25em;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        text-transform: capitalize;
        font-size: var(--component-heading);
        font-weight: var(--font-semi-bold);
    }

    &__info {
        display: inline-block;
        color: var(--primary-color);
        font-size: var(--component-body-text);
        margin: 0 1em 0 0;
        cursor: pointer;
        
        .header__share-link {
            vertical-align: middle;
        }
    }
}