@import "../1-helpers/_variables.scss";
@import '../1-helpers/_mixins.scss';


.container {
    font-family: $main-font;
    position: relative;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;

    @include small-screen() {
        & {
            max-width: 80%;
        }
    }
}