@import "../1-helpers/_variables.scss";

.home {

    &__logo {
        position: fixed;
        z-index: $z-index-1;
        height: 4vmin;
        fill: $white;
        margin: 2vh calc(4vmin / 2);
        cursor: $pointer;
    }
}