@import "../1-helpers/_variables.scss";
@import "../1-helpers/_mixins.scss";

.home {
    width: 100%;
    height: 100vh;
    max-width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr;

    &__bio {
        grid-row-start: 2;
        grid-row-end: 3;
    }

}