@import "../1-helpers/_variables.scss";
@import '../1-helpers/_mixins.scss';


.container {
    font-family: $main-font;
    position: relative;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    height: 100vh;
    border: 1px solid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);

}