@import "../1-helpers/_variables.scss";
@import "../1-helpers/_mixins.scss";

.portfolio {
    height: 60rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;

    @include tablet() {
        grid-template-columns: repeat(auto-fit, minmax(40%, 7fr));
        grid-template-rows: repeat(2, 150px);
        grid-gap: 30px;
    }

    .project {
        background-color: #fff;
        padding: 2em;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        &__sub-heading {
            color: $font-clr;
            margin-top: 1rem;
            font-weight: $weight-4;
            font-size: 3vmin;
        }

        &__live-view {
            background-color: $yellow-accent;
            border: none;
            width: 5rem;
            height: 1.5rem;
            font-weight: $weight-5;
        }

        &--medium { 
            grid-row: span 2;
            background-image: url(../../../build/images/pomotroid.png);
            background-position: 50% 41%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &--large {
            grid-row: span 14;
            background-image: url(../../../build/images/tic-tac-toe.png);
            background-position: 50% 41%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &--large:nth-child(2) {
            grid-row: span 13;
            background-image: url(../../../build/images/habit-tracker-v1.png);
            background-position: 50% 41%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &--small {
            grid-row: span 11;
            background-image: url(../../../build/images/calculator-ui-ver2.png);
            background-position: 50% 100%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .live {
            color: $font-clr;
        }

            @include tablet() {
                &--medium { 
                    grid-row: span 3;
                }
        
                &--large {
                    grid-row: span 4;
                }
        
                &--large:nth-child(2) {
                    grid-row: span 4;
                }
        
                &--small {
                    grid-row: span 3;
            }
        }

    }
}

