@import "../1-helpers/_variables.scss";
@import '../1-helpers/_mixins.scss';

.nav {
    position: fixed;
    z-index: $z-index-0;
    right: 0;
    width: 9vmin;
    height: 100vh;
    background-color: $navigation-sidebar;
    @include horizontal-center;

    &__menu {
        margin-top: $home-top;
        height: 6vmin;
        cursor: $pointer;
        transform: scale(1.3);
    }

    &__links {

        position: fixed;
        max-width: 96%;
        padding: 4vh 3vh;
        left: 49px;
        height: 100vh;
        width: 50vw;
        text-transform: uppercase;
        background-color: $menu-out;

        .main__item {
            font-family: $playfair;
            font-size: 10vmin;
            margin-bottom: 0.7em;

            &:last-child {
                margin-bottom: 1em;
            }

            
        }
    }
}

@media screen and (min-width: 516px) {
    .nav {
        width: 8vmin;
        left: 0;
        @include vertical-center;

        &__menu {
            margin-top: 0;
            transform: scale(1);
        }
    }
}