@import "../1-helpers/_variables.scss";
@import "../1-helpers/_mixins.scss";

.form {
    margin: 4em 0 ;

    

    label {
        font-size: 3vmin;
        font-weight: $weight-5;
        text-transform: uppercase;
        margin-bottom: 1.4em;

        @include tablet() {
            font-size: 0.7rem;
        }
    }

    input {
        width: 100%;
        border: none;
        border-bottom: 1px solid $icon-clr;
        padding-bottom: 1em;
        margin-bottom: 1.5em;
        color: $font-clr;
        font-size: 1.3rem;

        &::placeholder {
            font-weight: $weight-4;
            color: $lighter-gray;
            font-size: 2vmin;
        }
    }

    textarea {
        resize: none;
        border: none;
        border-bottom: 1px solid $icon-clr;

        &::placeholder {
            font-weight: $weight-4;
            color: $lighter-gray;
            font-size: 2vmin;
        }
    }


    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column-gap: 20px;

        .send {
            height: 3em;
            width: 3em;
            background-color: $lighter-gray;
            border-radius: 50%;
            border: none;
            position: relative;
            justify-self: end;
            margin: 1em 0 3em 0;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            &:hover {
                transition: background-color 0.5s;
                background-color: $blue-accent;
            }
    
            @media only screen and (min-width: 500px) {
                & {
                    grid-column-start: 3;
    
                }
            }
        }

        @include tablet() {
            display: grid;
            grid-template-columns: 1fr 3fr auto;
            grid-column-gap: 20px;
        }

        .inputs {
            display: flex;
            flex-direction: column;
            margin-top: 2em;
            justify-content: flex-start;

            @include tablet() {
                margin-top: 0;
            }
        }
    }

    

    .contact {

        &__text {
            margin: 1em 0;
            line-height: 1.5em;
        }

        i {
            font-size: 1.4em;
        }
    }

}