//-------------------------------------
//-----------    Fonts   -------------- 
//-------------------------------------
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

//-------------------------------------
//-----------  Z-index  --------------- 
//-------------------------------------
$z-index-0: 0;
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;

//-------------------------------------
//-----------  Fonts Weights  --------- 
//-------------------------------------
$weight-0: 300;
$weight-1: 400;
$weight-2: 500;
$weight-3: 700;

//-------------------------------------
//-----------    Spacing    ----------- 
//-------------------------------------
$home-top: 0.6em;
$left-right: 1em;

//-------------------------------------
//-----------    Misc.    ------------- 
//-------------------------------------
$pointer: pointer;

//-------------------------------------
//-----------    Breakpoints    ------- 
//-------------------------------------

//-------------------------------------
//-----------    Colors   ------------- 
//-------------------------------------
$white: #fff;
$black: #121212;
$navigation-sidebar: rgba(43, 43, 43, 0.25);
$preview-project: rgba(43, 43, 43, 0.65);
$menu-out: #181818;
$main-links: #272727;
$other-links: #464646;