//-------------------------------------
//-----------    Fonts   -------------- 
//-------------------------------------
$main-font: 'Nunito', sans-serif;

//-------------------------------------
//-----------  Z-index  ---------------
//-------------------------------------
$z-index-99999: -999999;
$z-index-0: 0;
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;

//-------------------------------------
//-----------  Fonts Weights  --------- 
//-------------------------------------
$weight-0: 300;
$weight-1: 400;
$weight-2: 500;
$weight-3: 600;
$weight-4: 700;
$weight-5: 800;

//-------------------------------------
//-----------    Spacing    ----------- 
//-------------------------------------
$home-top: 0.6em;
$content-width: 90%;

//-------------------------------------
//-----------    Breakpoints    ------- 
//-------------------------------------
$small-screen: 640px;
$tablet: 768px;
$desktop: 10240px;
$big-screens: 1280px;

//-------------------------------------
//-----------    Colors   ------------- 
//-------------------------------------
$main-clr: #fff;
$font-clr: #000000;
$icon-clr: #CFCFCF;
$lighter-gray: #EDEDED;
$yellow-accent: #FFE300;
$blue-accent: #007FFF;

//------------------------------------
//-----------    Border-radius    ---- 
//------------------------------------
$borders: 10px 10px 50px 10px;
$border-projects: 10px 10px 10px 10px;

//-------------------------------------
//-----------    Misc.    ------------- 
//-------------------------------------
$pointer: pointer;
