//-------------------------------------
//-----------    Fonts   -------------- 
//-------------------------------------
$roboto: 'Roboto', sans-serif;
$purple-purse: 'Playfair Display', serif;


//-------------------------------------
//-----------  Fonts Weights  --------- 
//-------------------------------------
$weight-0: 300;
$weight-1: 400;
$weight-2: 500;

//-------------------------------------
//-----------    Colors   ------------- 
//-------------------------------------
$white: #fff;
$black: #121212;
$navigation-sidebar: rgba(43, 43, 43, 0.25);
$preview-project: rgba(43, 43, 43, 0.65);
$menu-out: #181818;
$main-links: #272727;
$other-links: #464646;